<%- include('./partials/header') %>
<body>
	<%- include('./partials/form') %>

	<h1 class="text-center my-4">Results</h1>

	<table class="table table-striped">
		<thead>
		  <tr>
			<th>#</th>
			<th>Date</th>
			<th>City</th>
			<th>State</th>
			<th>Shape</th>
			<th>Description</th>
		  </tr>
		</thead>
		<tbody>
	<% results.forEach((result, index) => { %>
		<tr>
			<th scope="row"><%= index+1%> </th>
			<td><%= result.date %></td>
			<td> <%= result.city %></td>
			<td><%= result.state %></td>
			<td><%= result.shape %></td>
			<td><%= result.description %></td>
		</tr>
		<!-- <%- include('./partials/sighting', {result, index}) %> -->
	<% }) %>
	</tbody>
	</table>
</body>
<%- include('./partials/footer') %>
