<%- include('../partials/head') %>

<div class="container">
  <div class="row">
    <% bakedgoods.forEach((element, index) => { %>

    <div class="col-4">
      <div class="card">
        <img src="<%= element.image %>" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%= element.name %></h5>
          <p class="card-text"><%= element.price %></p>
          <a href="/bakedgoods/<%= element.slug %> " class="btn btn-primary">
            View Product
          </a>
        </div>
      </div>
    </div>

    <% }); %>
  </div>
</div>

<%- include('../partials/foot') %>
