<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>

<body>
    <h1>Edit <%= pokemon.name %></h1>

    <form action="/pokemon/<%= pokemonID %>?_method=PATCH" method="post">
        <input type="text" name="name" placeholder="Name" value="<%= pokemon.name %>">
        <input type="text" name="img" placeholder="Image" value="<%= pokemon.img %>">
        <input type="submit" value="Update">
    </form>
</body>

</html>