<tr>
    <th scope="row"><%= index+1%> </th>
    <td><%= result.date %></td>
    <td> <%= result.city %></td>
    <td><%= result.state %></td>
    <td><%= result.shape %></td>
    <td><%= result.description %></td>
</tr>